{sub_dirs, [ "rel" ]}.

{erl_opts, [debug_info]}. %, fail_on_warning]}.

{require_otp_vsn, "17"}.

{deps_dir, ["deps"]}.

{deps,
  [
    {hackney, ".*", {git, "https://github.com/benoitc/hackney.git", {branch, "master"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}}
  ]
}.
